<%= form_with(model: user, url: user_update_user_path(user), local: true, method: :patch) do |f| %>
  <%= render 'shared/error_messages', object: @user %>
  
  <div class="col-xs-12">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
    
    <%= f.label :department %>
    <%= f.text_field :department, class: 'form-control' %>
    
    <%= f.label :employee_number %>
    <%= f.text_field :employee_number, class: 'form-control' %>
    
    <%= f.label :uid %>
    <%= f.text_field :uid, class: 'form-control' %>
  
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    
    <%= f.label :work_time %>
    <%= f.time_field :work_time, class: 'form-control' %>
  
    <%= f.label :designated_work_start_time %>
    <%= f.time_field :designated_work_start_time, class: 'form-control' %>
    
    <%= f.label :designated_work_end_time %>
    <%= f.time_field :designated_work_end_time, class: 'form-control' %>
    
    <%= f.submit "編集する", class: "btn btn-primary" %>
  </div>
<% end %>
