<% provide(:title, "拠点一覧") %>

<h1>拠点一覧</h1>

<table class="table table-bordered table-striped able-condensed">
  <thead class="thead-inverse">
    <tr>
      <th class="col-xs-1"></th>
      <th class="col-xs-1"></th>
      <th class="col-xs-2">拠点番号</th>
      <th class="col-xs-4">拠点名</th>
      <th class="col-xs-4">勤怠種類</th>
    </tr>
  </thead>
  
    <tbody>
      <% @bases.each do |base| %>
        <tr>
          <td><%= link_to "修正", edit_basis_path(base.id), class: "btn btn-primary" %></td>
          <td>
            <%= link_to "削除", base, method: :delete, class: "btn btn-primary",
                                        data: { confirm: "削除しますか?" } %>
          </td>
          <td><%= base.base_number %></td>
          <td><%= base.name %></td>
          <td><%= base.attendance_type %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to "拠点情報追加", new_basis_path, class: "btn btn-primary" %>
  </div>
</div>