<% if @approval_upd_count == 0 %>
  <li>【勤怠変更申請のお知らせ】</li>
<% else %>
  <li data-toggle="modal" data-target="#model_upd" class="mouse_cursol" style="color:red;">
    【勤怠変更申請のお知らせ】<%= @approval_upd_count%>件の変更があります！
  </li>
  
  <!-- Modal -->
  <div class="modal fade" id="model_upd" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <%= form_with url: approval_upd_attendances_path, local: true, method: :patch do |f| %>
          <div class="modal-body">
            <% user = 0 %>
            <% @approval_upd.each do |application| %>
              <%= fields_for "attendance_news[]", application do |af| %>
                <table class="table-bordered table-striped table-condensed">
                  <% if user != application.user.id %>
                    <thead>
                      <h2><%= "【#{application.user.name}からの勤怠変更申請】" %></h2>
                      <tr>
                        <th rowspan = "3">日付</th>
                        <th rowspan = "3">曜日</th>
                        <th colspan = "4">変更前</th>
                        <th colspan = "4">変更後</th>
                        <th rowspan = "3">備考</th>
                        <th rowspan = "3">指示者確認㊞</th>
                        <th rowspan = "3">変更</th>
                        <th rowspan = "3">勤怠を確認する</th>
                      </tr>
                      <tr>
                        <th colspan = "2">出社</th>
                        <th colspan = "2">退社</th>
                        <th colspan = "2">出社</th>
                        <th colspan = "2">退社</th>
                      </tr>
                      <tr>
                        <th>時</th>
                        <th>分</th>
                        <th>時</th>
                        <th>分</th>
                        <th>時</th>
                        <th>分</th>
                        <th>時</th>
                        <th>分</th>
                      </tr>
                    </thead>
                  <% end %>
                  <tbody>
                    <tr>
                      <td class="td_month">
                        <%= application.worked_on.to_s(:date) %>
                      </td>
                      <% day_week = application.worked_on.wday %>
                      <td class = "<%= day_color(day_week)%> td_month">
                        <%= %w{日 月 火 水 木 金 土}[day_week] %>
                      </td>
                      <td class="td_time"><%= application.attendance.before_started_at.to_s(:hour) if application.attendance.before_started_at.present?%></td>
                      <td class="td_time"><%= format_min(application.attendance.before_started_at.to_s(:min)) if application.attendance.before_started_at.present?%></td>
                      <td class="td_time"><%= application.attendance.before_finished_at.to_s(:hour) if application.attendance.before_finished_at.present?%></td>
                      <td class="td_time"><%= format_min(application.attendance.before_finished_at.to_s(:min)) if application.attendance.before_finished_at.present? %></td>
                      <td class="td_time"><%= application.attendance.after_started_at.to_s(:hour) %></td>
                      <td class="td_time"><%= format_min(application.attendance.after_started_at.to_s(:min)) %></td>
                      <td class="td_time"><%= application.attendance.after_finished_at.to_s(:hour) %></td>
                      <td class="td_time"><%= format_min(application.attendance.after_finished_at.to_s(:min)) %></td>
                      <td class="td_note"><%= application.attendance.note %></td>
                      <td class="td_select">
                        <%= af.select :superior_chk_kbn, [['なし', 0], ['申請中', 1], ['承認', 2], ['否認', 3]],
                                                         { selected: application.superior_chk_kbn }, class: 'form-control' %>
                      </td>
                      <td class="td_check">
                          <%= af.check_box :upd_flg, id: :checkbox,:as => :boolean ,class: 'form-check-input'%>
                        </td>
                      <td>
                        <%= link_to "確認", user_confirmation_path(application.superior_id, application.user.id, application.worked_on),
                            class: "btn btn-primary" %>
                      </td>
                    </tr>
                  </tbody>
                  <% user = application.user.id %>
                </table>
              <% end %>
            <% end %>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <%= f.submit '更新', class: 'btn btn-primary' , style: "width:auto;"%>
          </div>
          
        <% end %>
      </div>
    </div>
  </div>
<% end %>